extends ../shared/template
block content
  #showone
    #profile
      ul
        li= account.name
        li Balance: #{account.balance}
        li= account.type
        li #{Moment(account.date).format('ll')}
        li
          a( href="/accounts/#{account._id}/transaction")  New Transaction
        li
          a( href="/accounts/#{account._id}/transfer")  New Transfer
    #transactions
      h3 Transactions
      table
        thead
          th id
          th date
          th type
          th amount
          th fee
        tbody
          each transaction in account.transactions
            tr
              td= transaction.id
              td #{Moment(transaction.date).format('ll')}
              td= transaction.type
              td= transaction.amount
              td= transaction.fee
    #transfers
      h3 Transfers
      table
        thead
          th id
          th date
          th from
          th to
          th amount
          th fee
        tbody
          each transfer in account.transfers
            tr
              td= transfer.id
              td #{Moment(transfer.date).format('ll')}
              td= transfer.from
              td= transfer.to
              td= amount
              td 25

